body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(26, 69, 27, 1) 0%, rgba(35, 59, 22, 1) 11%, rgba(91, 255, 0, 1) 100%);
}

header {
    display: flex;
    justify-content: center;
}

.nav-lista  {
    display: flex;
    list-style: none;
    font-size: 40px;
    color: white;
    gap: 28px;
    text-transform: uppercase;
}

.nav-item:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}